<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurneeBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <TurneeBatch.Properties.Settings>
            <setting name="CR_volum" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="CR_opriri" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CR_marja" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CR_nrmax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Mega_volum" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="Mega_opriri" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Mega_marja" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Mega_nrmax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Normal_volum" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="Normal_orpiri" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="Normal_marja" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Normal_nrmax" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="Camima_volum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camima_opriri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camima_marja" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camima_nrmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camimi_volum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camimi_opriri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camimi_marja" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camimi_nrmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MjErrDist" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="CentruResponsabilitate" serializeAs="String">
                <value>C.COL.VANZ</value>
            </setting>
        </TurneeBatch.Properties.Settings>
    </userSettings>
</configuration>
